SUPABASE_URL=your_supabase_project_url
SUPABASE_KEY=your_supabase_anon_key
NUXT_TMDB_API_KEY=7a18744cacf2fef4efd731cff20b3f3b
NUXT_SERP_API_KEY=cb34bdb5a059e9b019b1c8c6951b336cd00cd65fa0f0dc84ddb6cb27fb2f03e6
